
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@500&family=Anton&family=Roboto&display=swap');

*{
  box-sizing: border-box;
}
body{
    background-color: tomato;
}
.principal{
    background-color:#c0654f;
    padding-right: 0px;
    padding-left: 0px;
}
.formulario{
    background-color: #f0a196;
}
.info{
    background-color: #fce5c4;
    padding-top: 3%;
}
#inf,#exp,#hab{
    background-color: tomato;
}
.portada {
    font-family: 'Anton';
    font-size:500%;
    padding-top: 20px;
}
.nom-formulario{
    font-family: 'Roboto', sans-serif;
}
label{
    font-family: 'Alegreya Sans', sans-serif;
}
input{
    font-family: 'Alegreya Sans', sans-serif;
}
li,a{
    list-style: none;
    text-decoration: none;
    color:black;
    line-height: 250%;
}
.indice{
    background-color: bisque;
}
.datos{
    padding: 20px 10vh;
}
.experiencias p {
    text-align: justify;
}
.experiencias h6 {
    font-weight: bold;
}
.titulo {
    font-weight:bolder;
    font-size: 5rem;
}